* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --hue: 10;
    --bg-color: hsl(var(--hue), 5%, 7%);
    --text-color: hsl(var(--hue), 40%, 98%);
    --primary-color: hsl(var(--hue), 100%, 63%);
    --controls-bg-color: hsl(var(--hue), 0%, 14%);
    --button-secondary: hsl(var(--hue), 40%, 98%);

    font-size: clamp(40%, 1% + 2vw, 62.5%);
}

html.light {
    --text-color: #242424;
    --bg-color: hsl(var(--hue), 40%, 98%);
    --controls-bg-color: #242424;
    --primary-color: #F55A2B;
}

html.light .ph-sun,
html:not(.light) .ph-moon {
    display: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    display: grid;
    height: 100vh;
    place-content: center;
    font-family: 'Outfit', sans-serif;
}

#app {
    display: grid;
    justify-items: center;
}

#toggle-mode {
    position: absolute;
    right: 3.2rem;
    top: 3.2rem;
    font-size: 3.2rem;
    line-height: 0;
    color: var(--text-color);
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0px;
    border: 0;
    appearance: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19.2rem;
}


/*  time */
.time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer {
    font-size: 9.6rem;
    font-weight: bold;
    font-family: sans-serif;
}

.flex {
    display: flex;
}


#controls {
    margin-top: 1.6rem;
    padding: 2.2rem 4rem;
    gap: 1.6rem;
    background-color: var(--controls-bg-color);
    border-radius: 999rem;
}

button {
    background-color: transparent;
    border: 0;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 6.4rem;
}


/* controls */
.running .ph-play-circle,
.running .ph-timer,
.music-on .ph-speaker-none,
html:not(.running) .ph-pause-circle {
    display: none;
}


/*  controls music */
.sound {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
}

.sound button {
    padding: 4.8rem;
    background-color: var(--controls-bg-color);
    border-radius: 2.4rem;
}

.sound button.selected {
    background-color: var(--primary-color);
    color: var(--text-color);
}

html.light .sound button.selected {
    background-color: #FFE9E4;
    color: #F55A2B;
}